---
---

@import "{{ site.theme }}";

// .page-header {
//     background-image: url('/images/Background-animation.png');
// }

.page-header {
    position: relative;
    overflow: hidden;
  
    h1,
    h2,
    .btn {
      position: relative;
      z-index: 1;
    }
  }
  
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #312850;
}
