<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="https://b-branco.github.io/spacebound-minds-resources/favicon.svg">
    <link rel="icon" type="image/x-icon" href="https://b-branco.github.io/spacebound-minds-resources/favicon-light.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/x-icon" href="https://b-branco.github.io/spacebound-minds-resources/favicon-dark.ico" media="(prefers-color-scheme: dark)">

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div id="particles-js"></div>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ '/' | relative_url }}" class="btn">Home</a>
      <a href="{{ '/physical-activity' | relative_url }}" class="btn">Physical activity and well-being</a>
      <a href="{{ '/sleep' | relative_url }}" class="btn">Sleep and well-being</a>
      <a href="{{ '/social-contact' | relative_url }}" class="btn">Socialising and well-being</a>
      <a href="{{ '/support' | relative_url }}" class="btn">Get support</a>
    </header>

    <div class="layout">

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by researchers at the University of Edinburgh.</span>
        {% endif %}
        
        <span class="site-footer-credits">For any questions or feedback about our workshop and website, feel free to <a href="mailto:{{ site.author.email }}">contact us</a>.</span>
      </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS.load('particles-js', 'particles.json', function () {
        console.log('Particles.js config loaded');
      });
    </script>
  </body>
</html>